body{
    padding:0;
    margin:0;
}
.todo{
/* background: powderblue; */
    padding:50px;
    text-align:center;
    justify-content: center;
    align-items: center;
}
.items{
    text-align:center;
    justify-content: center;
    align-items: center;
}
.imga{
    background-image:url('img4.jfif');
    background-repeat: no-repeat;
    background-size: cover;
}